<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <main>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">Challenge Project</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{{ path('app_tasks') }}" class="nav-link">Tasks</a></li>
                    <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link">Categories</a></li>
                    <li class="nav-item"><a href="{{ path('app_api_tasks') }}" class="nav-link">Simple Api (admin:admin)</a></li>
                </ul>
            </header>
        </div>
    </main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
